<h1><%= "#{Entry.model_name.human}一覧" %></h1>

<%= link_to t('view.form.new'), new_entry_path %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= Entry.human_attribute_name :name %></th>
      <th><%= Entry.human_attribute_name :email %></th>
      <th><%= Entry.human_attribute_name :mobile_number %></th>
      <th><%= Entry.human_attribute_name :verification_code %></th>
      <th><%= Entry.human_attribute_name :verified %></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.name %></td>
        <td><%= entry.email %></td>
        <td><%= entry.mobile_number %></td>
        <td><%= entry.verification_code %></td>
        <td><%= entry.verified %></td>
        <td><%= link_to 'Show', entry %></td>
        <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
        <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: t('view.form.comfirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
