<p id="notice"><%= notice %></p>

<p>
  <strong><%= Entry.human_attribute_name :name %></strong>
  <%= @entry.name %>
</p>

<p>
  <strong><%= Entry.human_attribute_name :email %></strong>
  <%= @entry.email %>
</p>

<p>
  <strong><%= Entry.human_attribute_name :mobile_number %></strong>
  <%= @entry.mobile_number %>
</p>

<p>
  <strong><%= Entry.human_attribute_name :verified %></strong>
  <%= @entry.verified %>
</p>

<%= link_to t('view.form.edit'), edit_entry_path(@entry) %> |
<%= link_to t('view.form.back_to_index'), entries_path %>
